* {
  text-align: center;
  margin: 5px;
}

.comment-view {
  border: 1px solid hotpink;
}

.comments-view {
  border: 1px solid chartreuse;
}

.comments-form-view {
  border: 1px solid rebeccapurple;
}
